/* New styles for clock hands */
.hand {
    position: absolute;
    background: #000;
    position: absolute;
    background: #000;
    /* Set the rotation point to the bottom center */
    transform-origin: 50% 100%; 
    left: 49%;
    bottom: 50%;
    }
  /*Sets the color and size of the hour hand.*/
  .hour-hand {
    width: 9px;
    height: 90px;
    z-index: 1;
    background-color: #000;
  }
  /*Sets the color and size of the minute hand.*/
  .min-hand {
    width: 6px;
    height: 130px;
    z-index: 2;
    background-color: #000;
  }
  /*Sets the color and size of the second hand.*/
  .second-hand {
    width: 4px;
    height: 140px;
    z-index: 3;
    background-color: #ff0000;
  }
  /* Center the clock and create the colorful background*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right,beige, palegoldenrod, 
    navajowhite, moccasin, white, wheat, bisque,cornsilk, white);
  }
  
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Additional styling for the clock container */
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    border: 0px solid #000;
    border-radius: 50%;
    position: relative;
    /*Background image of the inner Clock*/
    background: url(clock_noBG.png) no-repeat center;
    background-size: cover;
  } 